{
  "presets": [
    ["env", {
      "targets": {
        "chrome": "49"
      },
      "modules":false,
      "loose":true
    }]
  ],
  "compact" : true,
  "plugins": ["transform-object-rest-spread", "syntax-dynamic-import"]
}